{
    "grpc_endpoint": "localhost:18082",
    "ch": {
        "vir_replicas": 200
    },
    "oplogger": {
        "enable": true,
        "kafka_topic": "consistent-hashing-service-provider-oplog",
        "kafka_brokers": ["localhost:9092"],
        "kafka_consumer_group": "consistent-hashing-service-provider-consumer-group-01"
    },
    "notifier": {
        "zk_endpoints": ["localhost:2181"]
    },
    "is_primary": false
}
